h3.subtitle {
  font-size: 2rem;
}

.otrl-iframe-widget {
  width: 90vw;
  height: 550px;
  border: none;
  max-width: 375px;
  background: transparent;
  overflow: hidden;
}

.htgt-list > li {
  margin-block-end: 2rem;
}

section.privacy > ul,
section.accessibility > ul {
  list-style: circle;
  padding-left: 1.5rem;
}

p.maintext {
  margin-block-end: 2rem;
}

img.boat-img {
  margin-left: -3rem;
  margin-right: -3rem;
  max-width: 120%;
}

img.extra {
  position: fixed;
  top: 10%;
  right: 0;
  max-height: 80%;
  opacity: 8%;
  z-index: -99999;
}

@media screen and (min-width: 450px) {
  section.practical,
  section.contact {
    display: flex;
    justify-content: space-between;
  }

  section.practical > img,
  section.contact > img {
    max-width: 60%;
  }
  h2.title.grow {
    align-self: flex-start;
  }
  .train-wrapper {
    display: flex;
  }
  .train-item > p {
    max-width: 80%;
  }
  .boat-wrapper {
    display: flex;
  }
  img.boat-img {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  img.extra {
    position: fixed;
    top: 10%;
    right: 20%;
    max-height: 80%;
    opacity: 8%;
  }
}

/* LIST EG FAQS  */
.listItem {
  margin-block-end: 2rem;
}

section.faqs {
  margin-block-end: 4rem;
}
