body {
  padding: 0px;
  color: #000;
  text-align: center;
}
#mazeMap {
  width: 100vw;
  height: 75vh;
  position: fixed !important;
  top: 14vh;
  left: 0;
  margin-block-end: 30px;
}

#map {
  width: 100vw;
  height: 80vh;
  position: fixed !important;
  top: 10vh;
  left: 0;
  margin-block-end: 30px;
}
header {
  padding: 1.5rem;
  z-index: 99999;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--main-bg-color);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: #fff;
}

.controls-container {
  display: flex;
  grid-gap: 1rem;
  padding: var(--padding);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

h1 {
  color: #fff;
}

.title-wrapper > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-block-end: 0;
  text-align: left;
  color: #fff;
}

.title-wrapper > span {
  color: #fff;
  font-weight: 600;
  width: max-content;
}
.maze-subtitle {
  font-size: 1rem;
  font-family: "Big John";
  /* color: rgba(255, 255, 255, 0.6); */
}

.control-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.control-item > span {
  color: #fff;
  font-weight: 600;
  width: max-content;
}
.icon {
  max-height: 4.5vh;
}

.broadcast-wrapper {
  width: 85%;
}

.broadcast {
  color: #fff;
  text-align: right;
}
p.broadcast {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
}

/* INFO WINDOW */

.infoContent {
  padding: 0.5rem;
  /* background-color: var(--color-mint); */
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: column;
}

.contentItem {
  text-align: left;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;
  flex-direction: row;
}

.contentItem.lower {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contentItem > img {
  max-width: 30%;
}

.contentItem.text {
  max-width: 70%;
}

.contentItem > h3 {
  margin-block-end: 0;
  text-align: left;
}

h3.adventureName,
.contentItem > h3,
.infoContent > h4,
.contentItem > a > h3 {
  color: var(--color-purple);
}

p.adventureInfo {
  margin-block-end: 10px;
  text-align: left;
  font-size: 1.2rem;
  margin-block-end: 0;
  text-align: left;
}
.contentItem > a > img {
  max-width: 100px;
  margin-block-end: 10px;
}

h3.info {
  font-size: 1.5rem;
}

h3.info:hover {
  color: var(--main-bg-color);
}

/* .contentItem > div > a > strong {
  font-family: "Big John";
  font-size: 1rem;
} */

.maptag {
  text-align: left;
  border: #fff solid 1px;
  padding: 6px;
  background-color: var(--accent-color-secondary);
  font-size: 1rem;
  font-weight: 800;
  margin-inline-end: 5px;
  color: #fff;
  border-radius: 4px;
}

.maptag.green {
  background-color: var(--color-mint);
}
.maptag.red {
  background-color: var(--color-red);
}

.maptag.purple {
  background-color: var(--color-purple);
}

.maptag.pink {
  background-color: var(--color-pink);
}

.maptag.toilets {
  background-color: #ca8ec0;
}

.maptag.black {
  background-color: #000;
}

.maptags {
  display: flex;
  margin-block-end: 10px;
}

/* #locateBtn {
  display: none;
} */

@media screen and (min-width: 450px) {
  .infoContent {
    max-width: 30rem;
  }
  p.broadcast {
    font-size: 1.5rem;
    color: #fff;
  }

  #mazeMap,
  #map {
    height: 80vh;
    top: 9.5vh;
  }
  .controls-container {
    justify-content: flex-end;
  }

  .contentItem > img {
    max-height: 90px;
  }
  p.adventureInfo {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) {
  #mazeMap,
  #map {
    height: 77vh;
    top: 12vh;
  }
}
